<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.neu.madcourse.numsd21s_lauraworboys">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_lw"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_lw_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NUMSD21SLauraWorboys">
        <activity
            android:name=".AtYourService"
            android:label="@string/title_activity_at_your_service"
            android:theme="@style/Theme.NUMSD21SLauraWorboys.NoActionBar"></activity>
        <activity
            android:name=".locator"
            android:label="@string/title_activity_locator"
            android:theme="@style/Theme.NUMSD21SLauraWorboys.NoActionBar" />
        <activity
            android:name=".LinkCollector"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".AboutMe" />
        <activity android:name=".ClickyClicky" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.NUMSD21SLauraWorboys.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>